{%- extends 'htmleton.njk' -%}
{%- block head -%}
<title>{{ site.title }}{%- if title -%}: {{ title }}{%- endif -%}</title>
{%- endblock -%}

{%- block body -%}
<header>
    <h1>{{ site.title }}</h1>
    <nav>
        <ul>
            <li><a href="{{'/' | url}}">Home</a></li>
            <li><a href="{{'/stories' | url}}">Stories</a></li>
            <li><a href="{{'/resources' | url}}">Resources</a></li>
            <li><a href="{{'/about' | url}}">About</a></li>
        </ul>
    </nav>
</header>

{%- block content -%}
{{ content | safe }}
{%- endblock -%}

<footer>
    <p>Last updated: {{ page.date | readableDate }}</p>
</footer>
{%- endblock -%}
