{%- extends 'base.njk' -%}
{%- import 'components/collection-nav.njk' as CollectionNav -%}
{%- import 'components/tag.njk' as Tag -%}
{%- import 'components/blog-sidebar.njk' as BlogSidebar -%}
{%- set recentPosts = collections.post | reverse -%}
{%- set tags = collections.tagList | filterTags -%}

{% block content %}
<main class="blog-index page-in-collection">
    <div>
        <div class="content">
            <h1>{{ title }}</h1>
            <div class="post-meta">
                <p>by {{authors[author].name}}, {{authors[author].organization}}</p>
                <p>{{ page.date | readableDate }}</p>

                {%- set tags = tags | filterTags -%}
                {%- if tags.length > 0 -%}
                <p>
                    <span class="label">Tags:</span>
                    {%- for tag in tags -%}
                    {{ Tag.Tag(tag) }}
                    {%- endfor -%}
                </p>
                {%- endif -%}
            </div>

            {{ content | safe }}

        </div>

        {{ CollectionNav.CollectionNav(page, collections.post, '../../') }}
    </div>

    {%- set relatedPosts = collections.post | relatedPosts(tags, page) -%}
    {%- set recentPosts = collections.post | reverse -%}
    {%- set allTags = collections.tagList -%}
    {{ BlogSidebar.BlogSidebar(relatedPosts, recentPosts, allTags) }}
</main>

{% endblock %}
