<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{'/css/base.css' | url}}">
    {% block head %}
    {% endblock %}
  </head>
  <body class="wrapper">
    {%block body %}
    {% endblock %}
  </body>
</html>
