{%- macro BlogPost(post, truncate, hlevel) -%}
{%- import "components/tag.njk" as Tag -%}
{%- set tags = post.data.tags | filterTags -%}
{%- set author = post.data.author -%}
{%- set authors = post.data.authors -%}

<article 
{% if truncate %} class="post-snippet" {% endif %}
>
    <h{{hlevel}}><a href="{{ post.url | url }}">{{ post.data.title }}</a></h{{hlevel}}>
    <div class="post-meta">
        <p>by &nbsp;
            {%- if authors[author].link -%}
                <a href="{{ authors[author].link }}">{{ authors[author].name }}, {{ authors[author].organization }}</a>
            {%- else -%}
                {{ authors[author].name }}, {{ authors[author].organization }}
            {%- endif -%}
        </p>
        <p>Posted on {{ [post.date] | readableDate }}</p>
        {%- if tags.length > 0 -%}
        <p>Tags:&nbsp;{%- for tag in tags -%}{{ Tag.Tag(tag) }}{%- endfor -%}</p>
        {%- endif -%}
    </div>

    {%- if truncate -%}
    <p>{{ post.templateContent | truncate(250) | safe }}... (<a href="{{ post.url | url }}">more</a>)</p>
    {%- else -%}
    {{ post.templateContent | safe }}
    {%- endif -%}

</article>

{%- endmacro -%}