---
layout: 'base.njk'
title: 'Accessibility Stories: All posts'
---
{%- import "components/blog-sidebar.njk" as BlogSidebar -%}
  
<main class="blog-index">
  <div>
    <h2>All Accessibility Stories</h2>
    <ul class="large">
      {%- for post in collections.post -%}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a> by {{ post.data.authors[post.data.author].name}} on {{ post.date | readableDate }}</li>
      {%- endfor -%}
  </div>
  {{ BlogSidebar.BlogSidebar(collections) }}
</main>
