---
layout: 'base.njk'
title: Blog
---
{%- import "components/blog-post-snippet.njk" as BlogPostSnippet -%}
{%- import "components/blog-post-list.njk" as BlogPostList -%}

{% set recentPosts = collections.post | reverse %}
{% set spotlightPost = recentPosts | first %}
<main class="blog-index">
  <div>
  <h2>Accessibility Stories</h2>

  <p>Lorem magna veniam ad labore.</p>

  <h2>Our latest post</h2>
  {{ BlogPostSnippet.BlogPostSnippet(spotlightPost) }}

  </div>
  <div class="sidebar">
    <aside>
      <h2>Recent Posts</h2>
      {{ BlogPostList.BlogPostList(recentPosts) }}
    </aside>
    <aside>
      <h2>Tags</h2>
      {%-set taglist=collections.tagList | filterTags -%}
      <ul>
        {%- for tag in taglist -%}
          <li>{%include 'components/tag.njk'%}</li>
        {%- endfor -%}
      </ul>
    </aside>
  </div>
</main>
