---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - blog
    - certification
    - resources
    - tagList
  addAllPagesToCollections: true
layout: 'base.njk'
renderData:
  title: Posts tagged “{{tag}}”
permalink: /blog/tags/{{tag}}/
---
<h1>Tagged "{{tag}}"</h1>
{%- import "components/blog-post-snippet.njk" as BlogPostSnippet -%}
{%- set posts = collections[ tag ] -%}
{% for post in posts %}
  {{ BlogPostSnippet.BlogPostSnippet(post) }}
{% endfor %}
