---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - blog
    - resources
    - tagList
  addAllPagesToCollections: true
layout: 'base.njk'
renderData:
  title: Stories tagged “{{tag}}”
permalink: /stories/tags/{{tag}}/
---
{%- import "components/blog-post.njk" as BlogPost -%}
{%- import "components/blog-sidebar.njk" as BlogSidebar -%}
{%- set posts = collections[ tag ] -%}

<main class="blog-index">
  <div>
    <h2>Posts Tagged "{{tag}}"</h2>
    {%- for post in posts -%}
      {{ BlogPost.BlogPost(post, true, 3) }}
    {%- endfor -%}
  </div>
  {{ BlogSidebar.BlogSidebar(collections) }}
</main>