:root {
  --border-width: 2px;
  --border-color: gray;
}

body {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 10rem 1fr 10rem;
}
header {
  display: grid;
  grid-template-columns: 10rem 20rem 5rem;
  border-bottom: var(--border-color) var(--border-width) solid;
  align-items: center;
  grid-gap: 10vw;

}
footer {
  font-size: smaller;
  font-style: italic;
  line-height: .5rem;
}
header h1 {
  font-size: 2rem;
  line-height: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
/* main content */
main.blog-index {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 1rem;
}
main.blog-index .post-snippet {
  border: var(--border-width) solid var(--border-color);
  padding: 1em;
  margin: 1em;
}

/* asides */
aside {
  border: var(--border-width) solid var(--border-color);
  padding-left: 1.5rem;
  margin-left: 1rem;
	font-size: smaller;
  height: fit-content(50%);
}

aside ul{
  padding-left: 0;
  list-style-type: none;
}

.post-snippet {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: var(--border-width) solid var(--border-color);
}
article {
  border: var(--border-width) solid var(--border-color);
  padding-left: 1rem;
  padding-right: 1rem;
}
article img {
  width: 60%;
}
.post-meta {
  line-height: .5rem;
  display: inline-block;
  font-size: smaller;
}
/* blog post navigation */
.collection-nav {
  margin-top: 1rem;
  border-top: var(--border-width) solid var(--border-color); 
}
.collection-nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  list-style-type: none; 
}

.collection-nav .prev {
  grid-column: 1;
  justify-self: start;
}
.collection-nav .next {
  grid-column: 2;
  justify-self: end;
}
.tag {
  font-size: smaller;
}
.tag:after {
  content: ", ";
}
.tag:last-child:after {
  content: "";
}
ul.large {
  line-height: 2rem;
}