@import url('root.css');

header h1 {
    font-size: 2rem;
    line-height: 2rem;
}
header h1 a {
    text-decoration: none;
    border: none !important;
    color: inherit;
    padding: inherit !important;
}
@media (max-width: 768px) {
    header nav ul {

    }
}
@media (min-width: 769px) {
    header nav ul {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }
}
header nav ul {
    list-style-type: none;
}
/* main content */
/* main.blog-index {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
} */
main.blog-index .post-snippet {
    border: var(--border-width) solid var(--border-color);
    padding: 1em;
    margin: 1em;
}

aside ul{
    padding: .5rem;
}
li  {
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

aside ul li, nav.side ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


article img {
    width: 60%;
}

.collection-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    list-style-type: none; 
}

  
  