@import url('root.css');

header h1 {
    font-size: 2rem;
    line-height: 2rem;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}
/* main content */
main.blog-index {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
}
main.blog-index .post-snippet {
    border: var(--border-width) solid var(--border-color);
    padding: 1em;
    margin: 1em;
}

aside ul{
    padding-left: 0;
    list-style-type: none;
}

article img {
    width: 60%;
}

.collection-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    list-style-type: none; 
}

  
  